{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>

</head>
<body>
<h5>Enter your details for login</h5>
<form action="login" method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Enter your Username"><br>
    <input type="password" name="password" placeholder="Enter your password"><br>
    <input type="submit"><br>

    <a href="register">Register Now</a>
</form>
</body>
</html>

{% endblock %}
